* {
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1220px;
    background: #888;
    margin: 0;
    padding: 0;
}

.hero_section {
    background-color: red;
}

.info_box {
    padding: 20px 10px;
}

/* Mobile */

@media (max-width: 767px) {
    .info_box {
        padding: 0;
    }
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {
    
}

